.list-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.list-item {
	height: 300px;
}

.left-book-cover {
	height: 100%;
}

.left-book-cover img {
	height: 100%;
	width: 250px;
}

.right-book-description {
	padding-left: 10px;
}

@media screen and (max-width: 500px) {
	.list-wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.list-item {
		display: flex;
		flex-direction: column;
		height: 500px;
		width: 300px;
	}

	.left-book-cover {
		height: 70%;
	}

	.left-book-cover img {
		width: 100%;
	}
}